:root {
  --background-color: #1992d4;
  --background-color2: #e2e8f0;
  --font-color: #ffffff;
  --color-hover: #d3ffff;
  --button-hover: #209fe4;
}

body {
  font-family: "Roboto", sans-serif;
  display: grid;
  grid-template-columns: max-content 5fr;
}

a,
.text {
  color: var(--font-color);
}

a {
  text-decoration: none;
}

.text {
  font-size: 2rem;
  font-weight: bold;
}

.link > img {
  pointer-events: none;
  height: 25px;
  width: auto;
  filter: invert(99%) sepia(1%) saturate(387%) hue-rotate(27deg)
    brightness(112%) contrast(100%);
}

.link > a:hover {
  margin-left: .5px;
  color: rgb(240, 240, 240);
  transition: 0.25s ease;
}

.sidebar {
  min-height: 100vh;
  background-color: var(--background-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}

.content {
  display: grid;
  grid-template-rows: 166px 5fr;
}

.icon {
  pointer-events: none;
  height: 35px;
  width: 35px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 2fr;
  gap: 4px;
}

.icon :nth-child(1) {
  grid-column: 1;
  grid-row: 1 / 3;
}

.icon :nth-child(4) {
  grid-column: 2;
  grid-row: 2 / 4;
}

.title {
  display: flex;
  align-items: center;
  gap: 20px;
  align-self: start;
}

.icon > div {
  background-color: var(--font-color);
}

.link {
  display: flex;
  align-items: center;
  gap: 20px;
}

.first-stack,
.second-stack {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.search-box img {
  height: 25px;
  width: auto;
}

.search-box img:nth-child(2) {
  height: 40px;
  width: 40px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-right: 10px;
}

.avatar[alt="Clau"] {
  cursor: pointer;
}

.avatar {
  border-radius: 50%;
}

.search-box {
  display: grid;
  grid-template-columns: 1fr max-content;
}

.search {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search > input[type="text"] {
  background-color: var(--background-color2);
  border: none;
  border-radius: 99em;
  height: 30px;
  width: clamp(200px, 80%, 700px);
  padding: 0.75em 1em;
  margin-right: 10px;
}

.header {
  padding: 15px clamp(10px, 3%, 50px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: rgba(75, 80, 83, 0.3) 0px 3px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  z-index: 1;
}

.bigger {
  height: 60px;
  width: 60px;
}

.first {
  display: flex;
  align-items: center;
  gap: 20px;
}

.presentation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.second > button {
  height: 40px;
  width: 95px;
  font-size: 0.9rem;
  border-radius: 99em;
  border: none;
  background-color: var(--background-color);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.second > button:hover {
  background-color: var(--button-hover);
}

.second {
  margin-left: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.greeting {
  font-size: 0.9rem;
  font-weight: 900;
  margin-bottom: 10px;
}

.name-longer {
  font-size: 1.25rem;
  font-weight: 900;
}

.container {
  background-color: var(--background-color2);
  display: grid;
  gap: 20px;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto;
  padding: 40px 20px;
}

.card-container {
  grid-column: 1 / 2;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  flex-grow: 1;
  gap: 25px;
}

.announcements-container {
  display: flex;
  flex-direction: column;
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.trending-container {
  display: flex;
  flex-direction: column;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.card-icons > img {
  height: 25px;
  width: auto;
}

.card-icons {
  display: flex;
  gap: 20px;
  flex-grow: 1;
  align-items: end;
  justify-content: end;
  margin-right: 10px;
  margin-top: 10px;
}

.card-title,
.trending-title,
.announcements-title {
  font-size: 1.25rem;
  margin-bottom: 15px;
}

.card {
  background-color: white;
  padding: 35px 20px 25px 20px;
  border-left: 8px solid orange;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.card > h1 {
  font-weight: 900;
}

.card-icons > img {
  cursor: pointer;
}

.card > p {
  font-size: .9rem;
  margin-top: 10px;
  color: rgb(129, 129, 129);
}

.announcements-box {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 1fr;
  background-color: white;
  border-radius: 5px;
  padding: 30px 20px 20px 20px;
}

hr {
  border-top: .5px solid rgb(129, 129, 129);
  height: 0;
  width: 100%;
  margin: 20px 0;
}

.icons .arrow-profile {
  height: 15px;
  width: 15px;
  cursor: pointer;
  margin-left: -20px;
}

.announcement-cell {
  overflow: hidden;
  text-overflow: ellipsis;
}

.announcement-cell > h2 {
  font-size: .9rem;
}

.announcement-cell > p {
  padding-top: 3px;
  color: rgb(129, 129, 129);
  font-size: 0.7rem;
  line-height: .8rem;
}

.trending-box {
  flex: 1;
  background-color: white;
  padding: 15px 20px 25px 15px;
  border-radius: 5px;
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

.trending-cell {
  display: flex;
  align-items: center;
  gap: 15px;
}

.trending-cell > img {
  cursor: pointer;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.trending-cell > img:nth-child(1) {
  border-radius: 0;
}

.about > p {
  margin-top: 5px;
  font-size: .9rem;
  color: rgb(129, 129, 129)
}

.about > div {
  cursor: pointer;
}

.trending-id:hover {
  color: #333333;
}

.ring:hover,
.magnifier:hover,
.eye:hover,
.share:hover,
.star:hover {
  cursor: pointer;
  filter: invert(22%) sepia(0%) saturate(0%) hue-rotate(111deg) brightness(97%) contrast(84%);
}